body {
  margin: 0;
  background-color: #88d8d3;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/*--------------------------BARRE DE NAVIGATION------------------*/

nav {
  display: flex;
}

nav a {
  display: block;
  width: 100%;
  background-color: #dadd39;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  margin: 1px;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  font-family: 'Chonburi', cursive;
}

nav a:hover {
  background-color: white;
  transition: all 0.3s ease;
}

#checkbox {
  display: none;
}

#lab {
  width: 30px;
  height: 30px;
  background: linear-gradient(
    #fff 0%,
    #fff 20%,
    transparent 21%,
    transparent 40%,
    #fff 41%,
    #fff 60%,
    transparent 61%,
    transparent 80%,
    #fff 81%,
    #fff 100%
  );
  margin: 4px;
  display: none;
}

@media all and (max-width: 960px) {
  nav {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    transform: translate(-1000px, 0);
    transition: all 0.5s ease;
  }
  nav a {
    width: auto;
  }
  #checkbox:checked + nav {
    transform: translate(0, 0);
    transition: all 0.5s ease;
  }
  #lab {
    display: block;
  }
}

/* -------------------------------------Logo-------------------------------------*/

.logo {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------------Body---------------------------------------*/

h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Chonburi', cursive;
  margin-top: 100px;
  margin-bottom: 200px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.page {
  margin: 20px;
  text-align: center;
}
.image1 {
  background-color: blanchedalmond;
  height: 300px;
  width: 300px;
  border: solid;
  padding-bottom: 50px;
  padding-top: 50px;
  border-radius: 20px;
}

p {
  width: 300px;
  text-align: justify;
  font-size: 20px;
  height: auto;
}

/*------------------Boutons -----------*/

.button1 {
  border: none;
  color: black;
  padding: 15px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition-duration: 0.4s;
}

.button1:hover {
  color: white;
}

/* --------------------FORMULAIRE---------------*/

h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 200px;
  margin-bottom: 100px;
  font-family: 'Chonburi', cursive;
}

form {
  text-align: center;
  font-size: 20px;
  color: black;
}

form input {
  width: 30%;
  padding: 10px;
  margin-top: 10px;
}

textarea {
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  height: 200px;
}

.button2 {
  background-color: white;
  border: none;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 20px;
}

.button2:hover {
  color: red;
}

/*------------------QUISOMMESNOUS-------------*/
<<<<<<< HEAD
=======

.quisommesnous{
  
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
}

.image2 {
 width: 200px;
 height: 300px;

}

.nous {
  text-align: center;
  margin: 20px;
}

.nom {
  text-align: center;
  font-family: 'Chonburi', cursive;
  font-size: 30px;
  width: auto;
}

/*-------------------SCROLLTOP---------------*/


.to-top {
  background: #DADD39;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

/*---------------------------FOOTER-------------*/
>>>>>>> 4d48d5ec18971e6acd9ac7675df25217cf698ecb

.quisommesnous {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
}

.image2 {
  width: 200px;
  height: 300px;
}

.nous {
  text-align: center;
  margin: 20px;
}

.nom {
  text-align: center;
  font-family: 'Chonburi', cursive;
  font-size: 30px;
  width: auto;
}

/*-------------------SCROLLTOP---------------*/

.to-top {
  background: #dadd39;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

/*---------------------------FOOTER-----------------------*/

footer {
<<<<<<< HEAD
  background-color: #ec6969;
=======
  background-color: #EC6969;
>>>>>>> 4d48d5ec18971e6acd9ac7675df25217cf698ecb
  height: 270px;
  margin-top: 50px;
  width: 100%;
  bottom: 0;
  font-size: 20px;
}

.flex-container2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.partenaires {
  display: flex;
  text-decoration: none;
  color: black;
}

.partenaires:hover {
  color: white;
}

.imgfoot {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

<<<<<<< HEAD
.copy {
=======
.copy{
>>>>>>> 4d48d5ec18971e6acd9ac7675df25217cf698ecb
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 15px;
}

/* --------------------------RESPONSIVE---------------*/

/*---------------------PAGE HABITUDES ALIMENTAIRES-------------------- */
/*-----------BODY HABITUDES ALIMENTAIRES--------*/

/* IMAGE RETRAVAILLEE PAR TJU A METTRE */

select {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  margin: 30px;
  text-align: center;
  border: solid 3px #ec6969;
  border-radius: 20px 20px 20px 20px;
}

.flex-container-ha {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#GenererRepas {
  color: #88d2ce;
  font-weight: bold;
  background-color: rgba(236, 105, 105, 0.9);
  border-style: none;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
}

#GenererRepas:hover {
  color: #dadd39;
  border: solid 2px grey;
}

#bouton1 {
  display: flex;
  justify-content: center;
}

#bouton1 {
  display: flex;
  justify-content: center;
}
/*-----------RESTAURATEUR HABITUDES ALIMENTAIRES----------- > */
.imgRestaurant {
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: column-reverse;
  margin: 50px;
  border: solid #ec6969 3px;
  padding: 10px;
  border-radius: 60px;
}

.zoomRestaurateur {
  display: flex;
  justify-content: center;
}

.zoomRestaurateur img:hover {
  width: 120px;
  height: 120px;
  cursor: not-allowed;
}
.zoomLivreur {
  display: flex;
  justify-content: center;
}

.zoomLivreur img:hover {
  width: 120px;
  height: 120px;
  cursor: crosshair;
}
